@using ZSPD.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="panel panel-primary">
    <div class="panel-heading">Aplikacja XXX</div>
</div>


<div class="container">
    <h2 class="text-center">Logowanie</h2>
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group ">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-sm-4 ">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox col-lg-offset-4">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class=" text-center">
                <input type="submit" value="Potwierdź" class="btn btn-default" />

            </div>
            <div class="text-center">
                <a href="Register"><button type="button" class="btn btn-default">Załóż konto</button></a>
            </div>

        </div>
}
</div>