@model ZSPD.Models.ExcerciseViewModel
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
@Html.Partial("_HeaderNavBar", new ViewDataDictionary { { "name", "Uzupełnij informacje o zadaniu" } })


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChoseExerciseLevel</title>
</head>
<body>
    @using (Html.BeginForm("ChoseExerciseLevel"))
    {
    <div class="text-center ">
        <div class="form-group">
            <label for="exerciseNumber">Wpisz numer wykonywanego zadania:</label>
            <input type="text" class="form-control" id="exerciseNumber" name="ExcerciseNumber" style="width:30vw; margin-left:35vw;" value="@Model.ExcerciseNumber">
        </div>
        <div class="form-group">
            <label for="correctness">Czy odpowiedziałeś poprawnie?</label>
            @Html.RadioButtonFor(Model => Model.Answer, true)tak
            @Html.RadioButtonFor(Model => Model.Answer, false)nie
        </div>
        <input type="submit" class="col-lg-2 btn-info btn col-lg-offset-5" value="Losuj kolejne zadanie" />
        <br /><br /><br />
        <div class="panel panel-default col-lg-2 col-lg-offset-5" >
            <div class="panel-body" >
                @if(Model.NextExcerciseNumber != 0)
                {
                    <text>@Model.NextExcerciseNumber.ToString()</text>
                }
            </div>
        </div>
        <br /><br /><br />
    </div>
    }
        <a href="~/Exercise/ChoseYourLevel" ><button class="col-lg-2 btn-info btn col-lg-offset-5">Wstecz</button></a>
    
</body>
</html>
