@model List<ZSPD.Models.CreateSurveyViewModel>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/OwnStyles.css" rel="stylesheet" />

@Html.Partial("_HeaderNavBar", new ViewDataDictionary { { "name", "Stwórz ankietę" } })
@using (Html.BeginForm("Create", "Surveys"))
{
    <table class="table">
        <tr>
            <th>
            </th>
            <th>
                Pytanie
            </th>
            <th>
                Średnia ocena
            </th>
        </tr>
        @for (int i = 0; i < Model.Count(); i++)
        {
        <tr>
            @Html.HiddenFor(model => model[i].Question.Id)

            <td>
                @Html.CheckBoxFor(model => model[i].AddToSurvey)
            </td>
            <td>
                @Html.LabelFor(model => model[i].Question.Content, Model[i].Question.Content)
            </td>
            <td>
                @if (Model[i].Question.Grades.Count > 0)
                {
                    @Model[i].Question.Grades.ToList().Average(x => x.Value)
                }
                else
                {
                    <text>Brak ocen</text>
}
            </td>
        </tr>
        }
    </table>
    <div class="container centering-container">
        <input type="submit" class="own-btn btn-info btn" value="Zapisz" />
    </div>
        
 }
<div class="container centering-container">
    @Html.ActionLink("Wstecz","Psychologist","Home",null,new { @class= "own-btn btn-info btn" })
    @*<a href="~/Home/Psychologist"><button class="col-lg-2 btn-info btn">Wstecz</button></a>*@
</div>

