<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/OwnStyles.css" rel="stylesheet" />


@Html.Partial("_HeaderNavBar", new ViewDataDictionary { { "name", "Moduł psychologa" } })
<div class="text-center">
    <div class="row">
        @Html.ActionLink("Stwórz ankietę","Create","Surveys",null,new {@class= "menu-tiles btn-info btn"})
        @Html.ActionLink("Przypisz ankietę", "Assign", "Students", null, new { @class = "menu-tiles btn-info btn" })
        @Html.ActionLink("Modyfikuj pytania", "ModifyQuestions", "Surveys", null, new { @class = "menu-tiles btn-info btn" })
        @Html.ActionLink("Dodaj pytanie", "AddQuestion", "Surveys", null, new { @class = "menu-tiles btn-info btn" })
    </div>
    <div class="row">
        @Html.ActionLink("Oceń pytania", "RateQuestions", "Surveys", null, new { @class = "menu-tiles btn-info btn" })
        @Html.ActionLink("Zarządzanie ankietami", "Manage", "Surveys", null, new { @class = "menu-tiles btn-info btn" })
        @*@Html.ActionLink("Oceń ankiety", "Rate", "Surveys", null, new { @class = "menu-tiles btn-info btn" })*@
        @Html.ActionLink("Wyświetl wyniki", "ShowStudents", "Students", null, new { @class = "menu-tiles btn-info btn" })
    </div>
    

</div>